# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment (if using a virtual environment like venv)
venv/
env/
.env/

# IDE specific files (if using an IDE like VS Code, PyCharm, etc.)
.vscode/

# .env files for sensitive data (if you're using environment variables)
.env

# Logs
*.log
